@import url('https://fonts.googleapis.com/css?family=Arimo:400,700i&display=swap&subset=latin-ext');

* {
    font-family: 'Arimo';
    margin: 0;
    padding: 0;
}
.flexbox-top {
    display: flex;
    margin: 0 100px;
}

.nawigacja {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.kontakt {
        display: flex;
        font-size: 15px;
        margin: 20px 100px;
        justify-content: flex-end;
        text-align: center;
    }

.kontakt a {
    color: gray;
    margin: 6px;
    text-decoration: none;
}

.kontakt ul {
    list-style: none;
}

.menu {
    flex: 1;
    margin: 0;
}
.menu a {
    font-size: 100%;
    font-weight: bolder;
    color: black;
    text-decoration: none;
    
}
.menu ul{
    display: flex;
    flex-direction: row;
}

.menu ul li {
    flex: 1;
    text-align: center;
    list-style: none;
    
}
.logo {
    flex: 1;
}
.logo img{
    height: 20vh;
}

.banner {
    display: flex;
    background: url(arnaud-papa-nuW1WqqDzsU-unsplash.jpg);
    background-size: cover;
}

.banner h1 {
    flex: 1;
    color: white;
    margin: 0 100px;
}
.banner-text {
    display: flex;
    flex: 1;
    height: 100vh;
}

.box2 {
    display: flex;
    background: url(pawel-czerwinski-Ku6Pw0HYH3M-unsplash.jpg);
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}

.header-1 {
    flex: 1;
    font-size: 20px;
    align-items: center;
    margin: 10% 100px;
    line-height: 2em;
}
.header-1 ins {
    text-decoration: none;
    color: blue;
}

.header-1 h4 {
    font-size: 17px;
    color: grey;
}

.header-2 {
    flex:1;
    align-content: center;
    align-items: center;
    margin: 10% 100px;
}
.header-2 img {
    max-width: 100%;
    height: auto;
}

.box3 {
    display: flex;
    background: url(vadim-sadovski-rhg0luJLuXc-unsplash.jpg);
    background-size: cover;
    background-color: rgb(35, 185, 255);
    background-blend-mode: hard-light;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    

}

.kot {
    flex: 1;
    justify-content: center;
    text-align: center;
    margin: 50px;
}
.kot h1 {
    color: white;
}


.button1 {
    display: flex;
    text-decoration: none;
    justify-content: center;
    margin: 50px;
}

.button1 li {
    list-style: none;
}

.button1 button {
    font-family: 'Arimo';
    font-size: 25px;
    color: white;
    background-color: rgb(192, 125, 0);
    height: 100px;
    justify-content: center;    
    width: 300px;
    text-align: center;
}


.box5 {
    display: flex;
    flex-direction: column;
    background: url(oleg-ivanov-cjLd-YELrYQ-unsplash.jpg);
    background-size: cover;
    background-blend-mode: hue;
    background-color: rgba(128, 128, 128, 0.50);
   
}

.head {
    display: flex;
    margin: 100px 300px;
    justify-content: center;
}
.head ins{
    text-decoration: none;
    font-size: 27px;
    text-align: center;
    color: white;
}



.bottom {
    display: flex;
    margin: 10px 100px;
    justify-content: center;
    color: white;
}
.bottom ul {
    flex: 1;
    padding: 40px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
}

.bottom h2 {
    font-size: 23px;
}

.bottom li {
    list-style: none;
    flex: 1;
}


.box6 {
    display: flex;
    flex-direction: row;
}

.lewy11 {
    flex: 1;
}

.prawy11 {
    flex: 1;
}




.box7 {
    display: flex;
    flex-direction: column;
    background-blend-mode: overlay;
    background: darkgrey;
    background: url(warte.png);
    background-size: cover;
    background-color: rgba(128, 128, 128, 0.75);
}

.box7 ul li {
    color: white;
    list-style: none;
    line-height: 36px;
}
.head1 {
    display: flex;
    margin: 30px 200px;
    justify-content: center;
}
.head1 h1{
    font-size: 30px;
    text-align: center;
    color: white;
}

.bottom1 {
    display: flex;
    margin: 10px 100px;
    justify-content: center;
}

.bottom1 img {
        border-radius: 50%;
        width: 200px;
        padding: 20px;
}

.bottom1 ul {
    display: flex;
    text-align: center;
    font-size: 25px;
}

.box8 ul li {
    color: white;
    list-style: none;
    line-height: 36px;
}
.head2 {
    display: flex;
    margin: 100px 200px;
    justify-content: center;
}
.head2 h1{
    font-size: 40px;
    text-align: center;
    color: rgb(0, 102, 255);
}

.bottom2 {
    display: flex;
    margin: 100px 100px;
    justify-content: center;
}

.bottom2 img {
        border-radius: 50%;
        width: 200px;
        padding: 20px;
}

.bottom2 ul {
    display: flex;
    text-align: center;
    font-size: 25px;
}


.footer1 {
    background: rgb(54, 54, 54);
    padding: 10px;
}

.footer1 a{
    text-decoration: none;
    color:white;
    font-optical-sizing: auto;
    font-size: 13px;
    font-weight: bolder;
}

.footer1 ul{
    list-style: none;
    padding: 20px;
}


.navifoot ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    margin: 0 200px;
    
}

.pasek {
    flex:1;
    background-color: rgba(128, 128, 128, 0.20);
    width: 100%;
    height: 1px;

}
.artykuly {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin: 0 100px;
    line-height: 150%;
    padding: 20px;
}

.artykuly div {
    flex: 1;
    justify-content: space-evenly;
}

.artykuly a {
    font-size: 12px;
    color: darkgrey;
}
.artykuly ins {
    font-size: 14px;
    color: whitesmoke;
    text-decoration: none;
    font-style: oblique;
}



.stopka {
    background: rgb(48, 48, 48);
    display: flex;
    text-decoration: none;
    color: grey;
    
}
.lewa {
    flex: 2;
    margin: 10px 100px;
    justify-content: center;
}
.social {
    flex:1;
    margin: 10px 100px;
}

.social ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
}
.social img {
    height: 24px;
    width: 24px;
    flex-direction: row;
}









